/*.box {
background-color: #0CCAE8;
width: 20px;
height: 330em;
position: absolute;
margin-top: -80px;
}*/

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

#maintitle {
	font-family:Courier;
	text-align:center;
	font-size: 300%;

}

#navigation{
	font-family: Courier;
	text-align: center;
}

#navigationabout {
	display:inline-block;
	margin-right: 50px;
}

#aboutlink {
	text-decoration: none;
	color:black;
}

#aboutlink:hover {
	background: black;
	color:white;
}

#navigationplaylist{
	display: inline-block;
	margin-left: 110px;
	margin-right: 40px;
}

#playlistlink{
	text-decoration: none;
	color:black;
}

#playlistlink:hover{
	background:black;
	color:white;
}

#posttitle{
	text-decoration: none;
	font-family: Courier;
	margin-left: 22%;
	margin-top: 50px;
}

#posttitle:hover{
	color:black;
}

.VideoPost {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.videoplayer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

#download{
	display: inline-block;
	margin-left: 19%;
	margin-right: auto;
	list-style-type: none;
	font-family: Courier;
	text-decoration: none;
}

#downloadlink{
	display: inline-block;
	text-decoration: none;
	color:black;
}

#downloadlink:hover{
	background: black;
	color: white;
}

#downloadposition{
	display:inline-block;
	margin-top: 10px;
	text-decoration: none;
}

#aboutmaintitle{
	font-family: Courier;
	font-size:800%;
	text-align: center;
}

#aboutestablished{
	text-align: center;
	font-size: 300%;
	font-family: Courier;
}

#aboutcopy{
	text-align: center;
	font-family: Courier;
}

#playlistmaintitle{
	text-align: center;
	font-family: Courier;
	font-size: 450%
}

#playlistdescription{
	text-align: center;
	font-family: Courier;
	font-size:200%;
}

#homelinkp{
	text-align: center;
}

#homelink{
	color:black;
	font-family: Courier;
	text-decoration: none;
	text-align: center;
}

#homelink:hover{
	color:black;
}

#comingsoon{
	color:black;
	font-family: Courier;
	text-align: center;
	size:150%;
}
