.box {
background-color: black;
width: 80%;
height: 4px;
position: absolute;
margin-top: -50px;
margin-left: 10%;
margin-right: 10%;
}

.box:hover {
	background-color: #0DFF55;
}

.box2 {
background-color: black;
width: 4px;
height: 4800px;
position: absolute;
margin-top: -50px;
margin-left: 10%;
}

.box2:hover {
	background-color: #0CCAE8;
}

.box3 {
background-color: black;
width: 4px;
height: 4800px;
position: absolute;
margin-top: -50px;
margin-left: 90%;
}

.box3:hover {
	background-color: #00FFDC;
}

.box4 {
width: 80%;
height: 4px;
position: absolute;
margin-top: 250px;
margin-left: 10%;
margin-right: 0%;
background-color: black;
}

.box4:hover {
	background-color: #0CE88C;
}

.box5 {
width: 80%;
height: 4px;
position: absolute;
margin-top: 4746px;
margin-left: 10%;
margin-right: 10%;
background-color: black;
}

.box5:hover {
	background-color: #0CE88C;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.logo:hover {
	background-color: #0DFF55;
	border-radius: 0%;
}

#maintitle {
	font-family:Courier;
	text-align:center;
	font-size: 300%;
}

#maintitle:hover {
	background-color: #0CCAE8;
	border-radius: 0%;
}

#navigation{
	font-family: Courier;
	text-align: center;
}

#navigationabout {
	display:inline-block;
	margin-right: 50px;
}

#aboutlink {
	text-decoration: none;
	color:black;
}

#aboutlink:hover {
	background: black;
	color:white;
}

#navigationplaylist{
	display: inline-block;
	margin-left: 110px;
	margin-right: 40px;
}

#playlistlink{
	text-decoration: none;
	color:black;
}

#playlistlink:hover{
	background:black;
	color:white;
}

#posttitle{
	text-decoration: none;
	font-family: Courier;
	margin-left: 15%;
	margin-top: 50px;
}

#posttitle:hover {
	background-color: #00FFDC;
}

.VideoPost {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.videoplayer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	max-height: 50%;
}

#download{
	display: inline-block;
	margin-left: 10.5%;
	margin-right: auto;
	list-style-type: none;
	font-family: Courier;
	text-decoration: none;
}

#downloadlink{
	display: inline-block;
	text-decoration: none;
	color:black;
}

#downloadlink:hover{
	background: black;
	color: white;
}

#downloadposition{
	display:inline-block;
	margin-top: 10px;
	text-decoration: none;
}

#aboutmaintitle{
	font-family: Courier;
	font-size:800%;
	text-align: center;
}

#aboutestablished{
	text-align: center;
	font-size: 300%;
	font-family: Courier;
}

#aboutcopy{
	text-align: center;
	font-family: Courier;
}

#playlistmaintitle{
	text-align: center;
	font-family: Courier;
	font-size: 450%
}

#playlistdescription{
	text-align: center;
	font-family: Courier;
	font-size:200%;
}