.box {
background-color: black;
width: 90%;
height: 4px;
position: absolute;
margin-top: -10px;
margin-left: 3%;
margin-right: 5%;
}

.box:hover {
	background-color: #0DFF55;
}

.box2 {
background-color: black;
width: 4px;
height: 3600px;
position: absolute;
margin-top: -10px;
margin-left: 3%;
}

.box2:hover {
	background-color: #0CCAE8;
}

.box3 {
background-color: black;
width: 4px;
height: 3600px;
position: absolute;
margin-top: -10px;
margin-left: 93%;
}

.box3:hover {
	background-color: #00FFDC;
}

.box4 {
width: 90%;
height: 4px;
position: absolute;
margin-top: 180px;
margin-left: 3%;
background-color: black;
}

.box4:hover {
	background-color: #0CE88C;
}

.box5 {
width: 90%;
height: 4px;
position: absolute;
margin-top: 3586px;
margin-left: 3%;
background-color: black;
}

.box5:hover {
	background-color: #0CE88C;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 60px;
}

.logo:hover {
	background-color: #0DFF55;
	border-radius: 0%;
}

#maintitle {
	font-family:Courier;
	text-align:center;
	font-size: 200%;
	margin-top: 25px;
}

#maintitle:hover {
	background-color: #0CCAE8;
	border-radius: 0%;
}

#navigation{
	font-family: Courier;
	text-align: center;
}

#navigationabout {
	display:inline-block;
	margin-right: 25%;
}

#aboutlink {
	text-decoration: none;
	color:black;
}

#aboutlink:hover {
	background: black;
	color:white;
}

#navigationplaylist{
	display: inline-block;
	margin-left: 0%;
	margin-right: 40px;
}

#playlistlink{
	text-decoration: none;
	color:black;
}

#playlistlink:hover{
	background:black;
	color:white;
}

#posttitle{
	text-decoration: none;
	font-family: Courier;
	margin-left: 11%;
	margin-top: 50px;
	font-size: 150%;
}

#posttitle:hover {
	background-color: #00FFDC;
}

.VideoPost {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.videoplayer{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	max-height: 30%;
}

#download{
	display: inline-block;
	margin-left: 0%;
	margin-right: auto;
	list-style-type: none;
	font-family: Courier;
	text-decoration: none;
}

#downloadlink{
	display: inline-block;
	text-decoration: none;
	color:black;
}

#downloadlink:hover{
	background: black;
	color: white;
}

#downloadposition{
	display:inline-block;
	margin-top: 10px;
	text-decoration: none;
}

#aboutmaintitle{
	font-family: Courier;
	font-size:800%;
	text-align: center;
}

#aboutestablished{
	text-align: center;
	font-size: 300%;
	font-family: Courier;
}

#aboutcopy{
	text-align: center;
	font-family: Courier;
}

#playlistmaintitle{
	text-align: center;
	font-family: Courier;
	font-size: 450%
}

#playlistdescription{
	text-align: center;
	font-family: Courier;
	font-size:200%;
}